<!DOCTYPE html>
<head></head>
<body>
  <div class="container">
    <div class="row profile-header">
      <div class="col-md-3 profile-picture">
        <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        <% if user_signed_in? %>
          <%= link_to "My Account", edit_user_registration_path %>
        <% end %>
      </div>

      <div class="col-md-6">
        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        <h3><span class="job-title-icon"><%= job_title_icon %></span><%= @user.profile.job_title %></h3>
        <div class="fader">
          <div class="well profile-block profile-description">
            <h4>About</h4>
            <%= @user.profile.description %>
          </div>
        </div>
          <% if current_user.plan_id == 2 %>
            <div class="fader">
              <div class="well profile-block profile-contact">
                <h4>Contact</h4>
                <h5><%= @user.profile.phone_number %></h5>
                <h5><%= @user.profile.contact_email %></h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>