<!DOCTYPE html>
<head></head>
<body>
  <div class="container-fluid text-center">
    <h1>RyeMatch</h1>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>
            RyeMatch is a fictional (yet functional) webapp designed to match the 
            budding talent of Ryerson University's image arts students with
            emerging models within Ryerson's community.
        </p>
        <p>
            By utilizing ruby gems attributing to user enrolment and ecommerce,
            I was able to develop a simple 'freemium' app to match users based on
            their specific needs.
        </p>
      </div>
    </div>
  </div>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h2 class="enrol-title">Basic (FREE)</h2>
          <h4>Sign up for free and get basic access to the community</h4>
          <br />
          <%= 
            link_to "Sign up with Basic", 
            new_user_registration_path(plan: @basic_plan.id),
            class: 'btn btn-warning btn-block' 
          %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="enrol-title">Pro ($10/month)</h2>
          <h4>Sign up for Pro and get access to the community and contact information!</h4>
          <%= 
            link_to "Sign up with Pro", 
            new_user_registration_path(plan: @pro_plan.id), 
            class: 'btn btn-success btn-block' 
          %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h2>Log in</h2>
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
          
            <div class="field form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="field form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          
            <div class="actions form-group">
              <%= f.submit "Log in", class: 'form-control btn btn-warning' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <div class="profile-link">
            <% if user_signed_in? %>
              <%= link_to "Build Up Your Profile", new_user_profile_path(user_id: current_user.id) %>
            <% else %>
              <%= link_to "Build Up Your Profile", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>