<div class="container">
  <div class="row">
    <h2 class="text-center">Talk to Me</h2>
    <br>
    <div class='col-md-6 col-md-offset-3'>
      <p class="text-center">
        If you want to get in touch to give feedback on my work, inquire 
        about collaboration or ask how my arm is healing, this would be the best
        way to drop me a line
      </p>
    </div>
    <div class='col-md-4 col-md-offset-4'>
      <%= flash[:notice] %>
      <div class="well">
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
            <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>